@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

main{
  padding: 30px;

  box-shadow: 0 0 0.9em rgb(3, 83, 129);}
  


body {
  background: linear-gradient(#aadbf1, #FFFFFF) no-repeat;
      font-family: 'Questrial', sans-serif;}

h1 {
  font-family: 'Handlee', cursive;  color: #0d1b97;
 
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.job-title {
  

  background-color: #333333;
  
  color: rgb(250, 250, 250);
  position: relative;;
  font-size: 20px;
  padding: 5px;
  background: linear-gradient(195deg, rgb(27, 117, 219), black);
  font-family: 'Questrial', sans-serif;
  
}

#high {
  color: rgb(13, 27, 151);
}

ul {
  background-color: #333333;
  color: rgb(250, 250, 250);
  position: relative;;
  padding: 30px;
  background: linear-gradient(195deg, rgb(27, 117, 219), black);
}
